services:
  qbittorrent-nox:
    container_name: qbt
    hostname: qbt
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - TZ=Etc/UTC
      - QBT_VERSION=latest
    image: qbittorrentofficial/qbittorrent-nox:latest
    ports:
      - 6882:6881/tcp
      - 6882:6881/udp
    read_only: true
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    tty: true
    volumes:
      - ./cfg:/config
      - /storage/shared:/downloads

  filebrowser:
    image: filebrowser/filebrowser:s6
    user: "0:0"
    volumes:
      - /storage/shared:/srv
      - ./filebrowser:/database
      - ./filebrowser:/config
    restart: always
