services:
  qbittorrent-nox:
    container_name: qbt
    hostname: qbt
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - TZ=Etc/UTC
      - QBT_VERSION=latest
    image: qbittorrentofficial/qbittorrent-nox:latest
    ports:
      - 6882:6881/tcp
      - 6882:6881/udp
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    tty: true
    volumes:
      - ./cfg:/config
      - /storage/shared/downloads:/downloads
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 1m
      timeout: 10s
      retries: 3

  filebrowser:
    image: filebrowser/filebrowser:s6
    volumes:
      - /storage/shared:/srv
      - ./filebrowser:/database
      - ./filebrowser:/config
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 1m
      timeout: 10s
      retries: 3

  dl-server:
    image: nginx:alpine
    volumes:
      - /storage/shared:/usr/share/nginx/html:ro
    restart: unless-stopped