services:
  qbittorrent-nox:
    container_name: qbt
    hostname: qbt
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - TZ=Etc/UTC
      - QBT_VERSION=latest
    image: qbittorrentofficial/qbittorrent-nox:latest
    ports:
      - 6882:6881/tcp
      - 6882:6881/udp
    read_only: true
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    tty: true
    volumes:
      - ./cfg:/config
      - seedbox:/downloads

  filebrowser:
    image: filebrowser/filebrowser:latest
    user: "0:0"
    volumes:
      - seedbox:/downloads/
      - ./filebrowser/database.db:/config/database.db
      - ./filebrowser/filebrowser.json:/.filebrowser.json
    restart: always

  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - ./sonarr:/config
      - seedbox:/data

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - AUTO_UPDATE=true #optional
    volumes:
      - ./jackett:/config
      - seedbox:/downloads
    restart: unless-stopped

  web-server:
    image: nginx:alpine
    container_name: file-server
    volumes:
      - seedbox:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./htpasswd:/etc/nginx/htpasswd
    restart: unless-stopped
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx

volumes:
  data:


volumes:
  seedbox:
    driver: local

