services:
  # volume-init:
  #   image: busybox
  #   command: ["sh", "-c", "chmod -R 777 /downloads"]
  #   volumes:
  #     - seedbox:/downloads

  qbittorrent-nox:
    container_name: qbt
    hostname: qbt
    user: "0:0"
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - TZ=Etc/UTC
      - QBT_VERSION=latest
    image: qbittorrentofficial/qbittorrent-nox:latest
    ports:
      - 6882:6881/tcp
      - 6882:6881/udp
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    tty: true
    volumes:
      - ./cfg:/config
      - seedbox:/downloads

  filebrowser:
    image: filebrowser/filebrowser:s6
    user: "0:0"
    volumes:
      - seedbox:/srv
      - ./filebrowser:/database
      - ./filebrowser:/config
    restart: always

volumes:
  seedbox:
    driver: local
